header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  /* position: fixed;
  bottom: 70%; */
}

.top-container {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  header {
    font-size: x-small;
    position: relative;
    bottom: auto;
  }
}
