@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dosis:wght@200&family=Mooli&family=Playfair+Display&display=swap");

:root {
  --background-color: #242424;

  --primary-color: wheat;
  --secondary-color: #242424;
}

body {
  font-family: Agbalumo;
  background: var(--background-color);
  color: var(--primary-color);
}

.app-container {
  margin: 0%;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}
